{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Landing Page Slider -->
<div class="container">

    <section id="course-detail">
        <div class="block">
            <div class="container">
                <div class="row">
                   <div class="col-md-6 col-sm-6">
                       <div class="course-info">
                           <figure class="font-color-primary">Prochaine Rentrée</figure>
                           <h2>Septembre 2023</h2>
                           <hr>
                           <div class="time">9:00 – 17:00</div>
                           <div class="length">Durée: 9 Mois</div>
                           <a href="#" class="btn">Je m'inscrits</a>
                       </div>
                   </div>
                   <div class="col-md-6 col-sm-6">
                       <h3>UNID</h3>
                       <p>L’Université Nayeba Internationale de Dabou (UNID) est une institution universitaire formant aux disciplines en lien avec l’Économie, les Sciences Economiques et les Affaires.

                           <br><br>Les formations suivent les cycles de Licence et de Master, avec une ouverture sur l’entrepreneuriat, l’employabilité, l’innovation et la compétitivité.

                           <br><br>La vision de l’UNID, axée sur l’idée de Former autrement, se manifeste à tous les niveaux de formation, d’encadrement et d’accompagnement des jeunes diplômés.

                           <br><br>L’Université Nayeba Internationale de Dabou (UNID) fait partie du grand Groupe Scolaire Nayeba dont la réputation s’est faite, depuis plus d’une dizaine d’années, sur la base de sa rigueur et de la qualité de l’encadrement dispensé en son sein, qu’il s’agisse du Préscolaire ou du Supérieur, des cycles Primaire ou Secondaire.
                       </p>
                       <h3>Pourquoi l'UNID</h3>
                       <ul class="font-color-grey-medium">
                           <li>Système d'intégration adaptatif</li>
                           <li>Salles équipées pour les pratiques</li>
                           <li>Système d'intégration en entreprise</li>
                       </ul>
                   </div>
                </div>
            </div>
            <div class="background background-color-grey-background"></div><!-- /.background -->
        </div>
    </section><!-- /#course-detail -->

    <hr>

    <section id="tickets">
        <div class="block">
            <div class="container">
                <div class="pricing">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <header><h3>Scolarité</h3></header>
                            <p>Pour s'inscrire à l'ESN, l'étudiant devra s'acquiter des frais d'inscription, puis verser les frais de scolarité en six (6) mensualités</p>
                            <ul class="features-description">
                                <li>Droit d'inscription</li>
                                <li>Tenues</li>
                                <li>Frais de scolarité</li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="price-box">
                                <header><h3>Licence 1</h3></header>
                                <div class="price">20FCFA</div>
                                <figure>Forever</figure>
                                <a href="#" class="btn btn-large">S'inscrire</a>
                                <ul class="features">
                                    <li><span class="fa fa-check available"></span></li>
                                    <li><span class="fa fa-times"></span></li>
                                    <li><span class="fa fa-times"></span></li>
                                </ul>
                            </div><!-- /.price-box -->
                        </div><!-- /.col-md-3 -->
                        <div class="col-md-3 col-sm-3">
                            <div class="price-box recommended">
                                <header><h3>Licence 2 & 3</h3></header>
                                <div class="price">30FCFA</div>
                                <figure>Forever</figure>
                                <a href="#" class="btn btn-large">S'inscrire</a>
                                <ul class="features">
                                    <li><span class="fa fa-check available"></span></li>
                                    <li><span class="fa fa-check available"></span></li>
                                    <li><span class="fa fa-times"></span></li>
                                </ul>
                            </div><!-- /.price-box -->
                        </div><!-- /.col-md-3 -->
                        <div class="col-md-3 col-sm-3">
                            <div class="price-box">
                                <header><h3>Master</h3></header>
                                <div class="price">30FCFA</div>
                                <figure>Forever</figure>
                                <a href="#" class="btn btn-large">S'inscrire</a>
                                <ul class="features">
                                    <li><span class="fa fa-check available"></span></li>
                                    <li><span class="fa fa-check available"></span></li>
                                    <li><span class="fa fa-check available"></span></li>
                                </ul>
                            </div><!-- /.price-box -->
                        </div><!-- /.col-md-3 -->
                    </div><!-- /.row -->
                </div><!-- /.pricing -->
            </div><!-- /.container -->
            <div class="background"></div><!-- /.background -->
        </div><!-- /.block -->
    </section><!-- /#tickets -->

<!-- end Page Content -->
</div>

{% endblock content %}